<%= form_for(@post, :remote => true) do |f| %>
    <% if @post.errors.any? %>
        <div id="error-explanation" class="alert">
            <ul>
            <% @post.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div>
        <%= f.text_area :body, :value => @default_text, :rows => 5 %>
    </div>
    <%= f.submit :class => 'btn' %>
<% end %>

