<h1>Messages!</h2>
<div class="new-post-form-wrapper">
    <%= render "form" %>
</div>

<div class="post-list">
    <%= div_for @posts do |post| %>
        <hr>
        <%= render "post", :@post => post %>
    <% end %>
</div>
