.new-post-form-wrapper {
    width: 40%;
    margin: 0 auto;

    textarea {
        width: 95%;
        margin: 5px auto;
        display: block;
        background: rgb(48, 36, 46);
        color: rgb(197, 197, 197);
    }
}


